* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222f3e;

    #calculator-container {
        border: 1px solid black;
        padding: 30px;
        border-radius: 12px;
        background: #8395a7;

        #calc-value {
            width: 100%;
            margin-bottom: 15px;
            padding: 15px 20px;
            font-size: 24px;
            text-align: right;
            border-radius: 8px;
            border: none;

            &:focus {
                outline: none;
            }
        }

        #buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 7.5px;

            button {
                padding: 30px;
                font-size: 25px;
                border-radius: 4px;
                border: none;
                background: #576574;
                color: #fff;
                text-shadow: 0 0 2.5px white;
                cursor: pointer;
                box-shadow: 0px 0px 5px rgba(255,255,255,.5), 0px 0px 5px rgba(255,255,255,.75);
                
                &:hover {
                    box-shadow: none;
                }

                &:focus {
                    outline: none;
                }
            }

            .result {
                width: 207%;
            }
        }
    }
}